   <center>
   <div class ="row">
    <div class="card col-md-2 col-md-offset-5" style="width: 18rem;">
      <img class="card-img-top" src="https://vietnam12345.s3.eu-west-2.amazonaws.com/Giannino_content/Course_card_images/e_money_cyber_image.png" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title"  style="text-decoration: underline">Cybersecurity for e-money institutions</h6>
        <p class="card-text">by Antonio Giannino Group Chief Risk & Compliance Officer at Amagis capital</p>
        <a href="http://3.9.134.255/courses/course-v1:Amagis+em101+4Q19/about" class="btn btn-secondary btn-sm">Prospectus</a>
      </div>
    </div>
      <div class="card col-md-2" style="width: 18rem;">
         <img class="card-img-top" src="https://vietnam12345.s3.eu-west-2.amazonaws.com/Giannino_content/Course_card_images/op_risk_image.png" alt="Card image cap">
         <div class="card-body">
           <h6 class="card-title" style="text-decoration: underline">Cybersecurity operational risk</h6>
           <p class="card-text">by Antonio Giannino Group Chief Risk & Compliance Officer at Amagis capital</p>
           <a href="http://3.9.134.255/courses/course-v1:AmagisLX+ALX01+1Q19/about" class="btn btn-secondary btn-sm">Prospectus</a>
         </div>
      </div>
   </div>
   </center>
